<!DOCTYPE html>
<html>
<head>
	<title>Bảng chi phí</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 20px;
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			font-size: 16px;
			color: #333;
		}
		th, td {
			border: 1px solid #ddd;
			padding: 8px;
			text-align: left;
		}
		th {
			background-color: rgb(0, 128, 255);
			color: white;
		}
	</style>
</head>
<body>  
	<table>
		<thead>
			<tr>
				<th>Tiêu chí</th>
				<th>Chi Phí</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tiền điện</td>
				<td>$50</td>
			</tr>
			<tr>
				<td>Tiền nước</td>
				<td>$20</td>
			</tr>
			<tr>
				<td>Phí dịch vụ</td>
				<td>$100</td>
			</tr>
		</tbody>
	</table>
</body>
</html>